.screen{
    width: 40vw;
    height: 24.7vw;
    margin-left: 30vw;
    margin-right: 30vw;
    align-items: center;
    margin-top: 2.5vw;

}

/* .screen img {
    width: 40vw;
    height: 24.7vw;
    border-radius: 5px 5px 0 0;
} */


.cards {
    display: grid;
  
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  
    grid-auto-rows: auto;
  
    grid-gap: 1rem;
  }
  
  .card {
    border: 2px solid #e7e7e7;
  
    border-radius: 4px;
  
    padding: 0.5rem;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 35%;
    height: 35%;
    align-items: center;
    margin-left: 30vw;
  }
  
  .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

.controls {
    display: flex;
    justify-content: space-between;
}

.hide {
    visibility: hidden;
    /* display: none; */
}

#previous {
    margin-left: 30.5vw;
    /* display: flex;
    justify-content: space-between; */
}

#next {
    /* margin-left: 60vw; */
    margin-left: 26.5vw;
    position: absolute;
}

#questionTracker {
    margin-left: 43.8vw;
    margin-top: -2vw;
    margin-bottom: 1vw;
}

#results {
    align-items: center;
    margin-left: 30vw;
}